body {
    font-family: 'Numans', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 1s;
}

.carousel-inner {
    height: 500px;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: #fff;
}

.carousel-caption h5 {
    margin: 0;
}

.carousel-caption p {
    margin: 15px;
    color: black;
}

.carousel-item img {
    object-fit: cover;
    height: calc(100% - 40px);
    width: 100%;
    margin-top: 40px;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    transition: opacity 0.5s;
}

.carousel-inner:hover .carousel-control-prev,
.carousel-inner:hover .carousel-control-next {
    opacity: 0.5;
}

.carousel-item {
    transition: opacity 0.5s;
}