<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="image-text-row">
                <img src="assets/images/hipertermia.jpg" alt="Imagine 1">
                <div class="justify-container">
                    <p>Hipertermia este considerată una dintre cele mai importante terapii adjuvante în tratarea cancerului. La creșterea temperaturii tumorii până la aproximativ 44 °C în hipertermia locală, este îmbunătățit afluxul sângelui în tumori, ceea
                        ce conduce la o creștere a eficienței chimioterapiei și radioterapiei sau a altor terapii citostatice. De asemenea, prin supraîncălzirea acestor tumori se eliberează `heat shock proteins” care semnalizează sistemul imunitar să
                        identifice și să distrugă celulele canceroase. Un alt fenomen important este îmbunătățirea răspunsului imun ca urmare a creșterii temperaturii corpului la peste 39.5 °C în hipertermia totală.</p>
                </div>
            </div>
            <div class="image-text-row">
                <div class="justify-container">
                    <p>Esența medicinei de precizie constă în construirea unei strategii terapeutice individualizate bazate pe genotiparea pacienților și terapie țintită. Astfel, este aleasă acea schemă terapeutică în care anticorpii monoclonali din imunoterapii
                        se combină cu alți agenți terapeutici țintiți pentru a optimiza efectul citotoxic, dar și de a reduce la maximum reacțiile adverse. Terapia moleculară țintită ne oferă posibilitatea administrării medicamentului în mod eficient,
                        cu specificitate ridicată, țintind numai celula tumorală. Astfel, toxicitatea este mult mai scăzută în comparație cu chimioterapia convențională.</p>
                </div>
                <img src="assets/images/terapie.jpg" alt="Imagine 2">
            </div>
            <div class="image-text-row">
                <img src="path_to_image3.jpg" alt="Imagine 3">
                <div class="justify-container">
                    <p>Textul pentru a treia imagine.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>