.card-deck {
    margin-top: 20px;
}

.card {
    border: none;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-body {
    text-align: justify;
}

.card-text {
    margin-bottom: 15px;
}
