<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-deck">
                <div class="card">
                    <img src="assets/images/hipertermia.jpg" class="card-img-top" alt="Imagine 1">
                    <div class="card-body">
                        <h5 class="card-title text-center">Hipertermia</h5>
                        <p class="card-text">Hipertermia este considerată una dintre cele mai importante terapii adjuvante în tratarea cancerului. La creșterea temperaturii tumorii până la aproximativ 44 °C în hipertermia locală, este îmbunătățit afluxul sângelui în tumori,
                            ceea ce conduce la o creștere a eficienței chimioterapiei și radioterapiei sau a altor terapii citostatice. De asemenea, prin supraîncălzirea acestor tumori se eliberează `heat shock proteins” care semnalizează sistemul imunitar
                            să identifice și să distrugă celulele canceroase. Un alt fenomen important este îmbunătățirea răspunsului imun ca urmare a creșterii temperaturii corpului la peste 39.5 °C în hipertermia totală.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Terapii moleculare țintite</h5>
                        <p class="card-text">Esența medicinei de precizie constă în construirea unei strategii terapeutice individualizate bazate pe genotiparea pacienților și terapie țintită. Astfel, este aleasă acea schemă terapeutică în care anticorpii monoclonali din
                            imunoterapii se combină cu alți agenți terapeutici țintiți pentru a optimiza efectul citotoxic, dar și de a reduce la maximum reacțiile adverse. Terapia moleculară țintită ne oferă posibilitatea administrării medicamentului
                            în mod eficient, cu specificitate ridicată, țintind numai celula tumorală. Astfel, toxicitatea este mult mai scăzută în comparație cu chimioterapia convențională.</p>
                    </div>
                    <img src="assets/images/genotipare.jpeg" class="card-img-top" alt="Imagine 2">
                </div>
                <div class="card">
                    <img src="assets/images/angiogeneza.jpg" class="card-img-top" alt="Imagine 3">
                    <div class="card-body">
                        <h5 class="card-title text-center">Antiangiogeneză</h5>
                        <p class="card-text">Dat fiind că angiogeneza joacă un rol critic în creșterea tumorală și în metastază, o atenție specială acordăm terapiilor antiangiogenice. În afara terapiilor convenționale antiangiogenice bazate pe medicamente precum bevacizumabul,
                            există mai multe grupe de compuși naturali precum EGCG, dar și din clasa mare a polifenolilor, la care s-a constatat un puternic efect antiangiogenic.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Terapii antiinflamatorii</h5>
                        <p class="card-text">Inflamația, după cum s-a demonstrat în numeroase studii clinice, joacă un rol esential în inițierea, progresul și prognoza cancerului. Acest lucru explică de ce terapiile antiinflamatorii au potențialul de a îmbunătăți efectul
                            terapiilor convenționale, cât și de a constitui în monoterapie tratamentul multor tumori solide. </p>
                    </div>
                    <img src="assets/images/antiinflamator.jpg" class="card-img-top" alt="Imagine 2">
                </div>
                <div class="card">
                    <img src="assets/images/multimodal.jpg" class="card-img-top" alt="Imagine 2">
                    <div class="card-body">
                        <h5 class="card-title text-center">Imunoterapii multimodale</h5>
                        <p class="card-text">Există în momentul de față mai multe forme de imunoterapii, toate urmărind însă activarea răspunsului imun prin celulele NK, NKT și T cu ajutorul a diferite strategii. Un prognostic pozitiv poate fi dat atunci când, indiferent
                            de imunoterapia folosită, aceasta asigură succesul celulelor imune în lupta lor împotriva celulelor tumorale.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
