<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Clinica de oncologie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
        <!-- <div class="collapse navbar-collapse" id="navbarNavDropdown" routerLinkActive="active"> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Acasă</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/medic" role="button" data-bs-toggle="dropdown" aria-expanded="false">Medici</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/mediconcolog">Medic oncolog</a></li>
                        <li><a class="dropdown-item" href="/oncologmedical">Oncolog medical</a></li>
                        <li><a class="dropdown-item" href="/oncologradioterapeut">Oncolog radioterapeut</a></li>
                        <li><a class="dropdown-item" href="/chirurgoncolog">Chirurg oncolog</a></li>
                        <li><a class="dropdown-item" href="/hematooncolog">Hemato-oncolog</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/psiholog" routerLink="psiholog">Psihologi</a>
                </li>
                <!-- <li class="nav-item" *ngIf="utilizatoriService.isUserPacient()"> -->
                <li class="nav-item">
                    <a class="nav-link" href="/nutritionist" routerLink="nutritionist">Nutritionisti</a>
                </li>

                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" href="/programarile.mele" routerLink="programarile.mele">Programările mele</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" href="/istoric.medical" routerLink="istoric.medical">Istoric consultații</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/info" role="button" data-bs-toggle="dropdown" aria-expanded="false">Informatii</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/planuri.alimentare">Planuri alimentare</a></li>
                        <li><a class="dropdown-item" href="/terapii">Terapii</a></li>
                        <li><a class="dropdown-item" href="/">Tratamente</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
                <li class="nav-item">
                    <a href="/register" class="nav-link" routerLink="register">Inregistrare</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link" routerLink="login">Autentificare</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">

                <!-- <li class="nav-item">
              <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li> -->
                <li class="nav-item">
                    <a href class="nav-link" (click)="logout()">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid background" style="width: 100%; display: block;">
    <router-outlet></router-outlet>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
