<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Istoric medical</h2>
            <div class="row">
                <div class="col-md-4" *ngFor="let consultatie of consultatii">
                    <div class="card mb-3">
                        <div class="card-header text-center">{{ consultatie.diagnostic }}</div>
                        <div class="card-body">
                            <p class="card-text text-center"><strong>{{ consultatie.data | date:'dd/MM/yyyy' }} </strong> </p>
                            <p class="card-text"><strong>Simptome:</strong> {{ consultatie.simptome }}</p>
                            <p class="card-text"><strong>Schema de tratament:</strong> {{ consultatie.schema_tratament }}</p>
                            <p class="card-text"><strong>Durată:</strong> {{ consultatie.durata }}</p>
                            <p class="card-text"><strong>Preț:</strong> {{ consultatie.pret }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>