<div class="card-body custom-background">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="custom-form">
        <div class="form-group py-2">
            <label for="simptome" class="fs-6 pb-1">Simptome</label>
            <input type="text" formControlName="simptome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['simptome'].errors }" />
            <div *ngIf="submitted && f['simptome'].errors" class="invalid-feedback">
                <div *ngIf="f['simptome'].errors">Treceti macar un simptom!</div>
            </div>
        </div>
        <div class="form-group py-2">
            <label for="data" class="fs-6 pb-1">Data</label>
            <input type="date" formControlName="data" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['data'].errors }" />
            <div *ngIf="submitted && f['data'].errors" class="invalid-feedback">
                <div *ngIf="f['data'].errors">Alegeti data</div>
            </div>
        </div>

        <button [disabled]="loading" mat-raised-button color="warn">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Programeaza-te
    </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
</div>