<div class="col-md-12">
    <div class="card card-container">
        <form *ngIf="!isAppointmentDone" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="simptome">Simptome</label>
                <textarea type="text" class="form-control" name="simptome" [(ngModel)]="form.simptome" required #simptome="ngModel" [ngClass]="{ 'is-invalid': f.submitted && simptome.errors }"></textarea>
                <div *ngIf="simptome.errors && f.submitted" class="invalid-feedback">
                    Nume utilizator is required!
                </div>
            </div>
            <div class="form-group">
                <label for="data">Data</label>
                <input type="date" class="form-control" formControlName="data" id="data">
                <div *ngIf="form.controls['data'].invalid && (form.controls['data'].dirty || form.controls['data'].touched)">
                    <!-- <div *ngIf="programariForm.controls['data'].errors.required">Data este obligatorie.</div>
                <div *ngIf="programariForm.controls['data'].errors.pattern">Data trebuie să fie de formatul YYYY-MM-DD.</div> -->
                    <div *ngIf="form.controls['data'].hasError('required')">
                        {{ errorMessage }}
                    </div>
                    <div *ngIf="form.controls['data'].hasError('pattern')">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="ora">Ora</label>
                <input type="time" class="form-control" formControlName="ora" id="ora">
                <div *ngIf="form.controls['ora'].invalid && (form.controls['ora'].dirty || form.controls['ora'].touched)">
                    <!-- <div *ngIf="programariForm.controls['ora'].errors.required">Ora este obligatorie.</div>  -->
                    <div *ngIf="form.controls['ora'].hasError('required')">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">
        Programeaza-te!
      </button>
            </div>
            <div class="form-group">
                <div *ngIf="f.submitted && isAppointmentFailed" class="alert alert-danger" role="alert">
                    Programare esuata: {{ errorMessage }}
                </div>
            </div>
        </form>
    </div>
</div>
