<mat-toolbar>
    <span>Bine ati venit!</span>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="my-form">
            <mat-form-field class="full-width">
                <mat-label>Nume utilizator</mat-label>
                <input type="text" class="form-control" [(ngModel)]="form.nume_utilizator" required minlength="3" maxlength="20" #nume_utilizator="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nume_utilizator.errors }" matInput placeholder="Nume utilizator" name="nume_utilizator"
                    required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Parola</mat-label>
                <input type="password" class="form-control" name="parola" [(ngModel)]="form.parola" required minlength="6" #parola="ngModel" [ngClass]="{ 'is-invalid': f.submitted && parola.errors }" matInput placeholder="Parola" name="parola" required>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="onSubmit()" color="primary">Autentificare</button>

    </mat-card-actions>
</mat-card>