<form [formGroup]="form" (ngSubmit)="onSubmit()" class="custom-form">
    <div class="form-group">
        <label for="diagnostic">Diagnostic</label>
        <input type="text" class="form-control" formControlName="diagnostic" placeholder="Introduceti diagnosticul" [ngClass]="{ 'is-invalid': submitted && f['diagnostic'].errors }" />
        <div *ngIf="submitted && f['diagnostic'].errors" class="invalid-feedback">
            <div *ngIf="f['diagnostic'].errors">Diagnosticul nu poate fi gol!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="durata">Durată (minute)</label>
        <select class="form-control" formControlName="durata" [ngClass]="{ 'is-invalid': submitted && f['durata'].errors }">
      <option>30</option>
      <option>60</option>
      <option>90</option>
      <option>120</option>
    </select>
        <div *ngIf="submitted && f['durata'].errors" class="invalid-feedback">
            <div *ngIf="f['durata'].errors">Alegeti o durata!</div>
        </div>
    </div>
    <div class="form-group">
        <label for="pret">Preț (ron)</label>
        <select class="form-control" formControlName="pret" [ngClass]="{ 'is-invalid': submitted && f['pret'].errors }">
    <option>200</option>
    <option>250</option>
    <option>300</option>
    <option>350</option>
    <option>400</option>
    <option>450</option>
    <option>500</option>
  </select>
        <div *ngIf="submitted && f['pret'].errors" class="invalid-feedback">
            <div *ngIf="f['pret'].errors">Alegeti un pret!</div>
        </div>
    </div>
    <div class="form-group">
        <label for="schema_tratament">Schemă de tratament</label>
        <textarea placeholder="Introduceti schema de tratament" class="form-control" rows="3" formControlName="schema_tratament" [ngClass]="{ 'is-invalid': submitted && f['schema_tratament'].errors }"></textarea>
        <div *ngIf="submitted && f['schema_tratament'].errors" class="invalid-feedback">
            <div *ngIf="f['schema_tratament'].errors">Schema de tratament nu poate fi goala!</div>
        </div>
    </div>
    <button [disabled]="loading" mat-raised-button color="warn" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvează
        </button>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
</form>
