<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Oncologi medicali</h2>
        </div>
        <div class="col-12">
            <div class="card-deck">
                <div class="card mb-4" *ngFor="let item of data">
                    <!-- <img class="card-img-top custom-image" src="assets/today.png" alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title text-center">{{item.nume}} {{item.prenume}}</h5>
                        <p class="card-text">Cabinet: {{item.cabinet}} </p>
                        <p class="card-text">Contact: {{item.contact}} </p>
                        <p class="card-text">Descriere: {{item.descriere}}</p>
                        <div class="d-flex justify-content-between">
                            <button (click)="visitPage(item.id_doctor)" class="btn btn-primary">Programează-te!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>