<!DOCTYPE html>
<html>

<head>
    <title>Pagina de înregistrare</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="register.component.css">
</head>

<body>
    <div class="test">

    </div>
    <div class="full-page">
        <div class="d-flex justify-content-center h-100">
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="card">
                    <div class="card-header">
                        <h3>Înregistrare</h3>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nume utilizator" name="nume_utilizator" [(ngModel)]="form.nume_utilizator" required minlength="3" maxlength="20" #nume_utilizator="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nume_utilizator.errors }"
                        />
                        <div class="invalid-feedback" *ngIf="nume_utilizator.errors && f.submitted">
                            <div *ngIf="nume_utilizator.errors['required']">Nume utilizator este necesar!</div>
                            <div *ngIf="nume_utilizator.errors['minlength']">
                                Numele utilizatorului trebuie sa aiba minim 3 caractere!
                            </div>
                            <div *ngIf="nume_utilizator.errors['maxlength']">
                                Numele utilizatorului trebuie sa aiba minim 20 caractere!
                            </div>
                        </div>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Parola" name="parola" [(ngModel)]="form.parola" required minlength="6" #parola="ngModel" [ngClass]="{ 'is-invalid': f.submitted && parola.errors }" />
                        <div class="invalid-feedback" *ngIf="parola.errors && f.submitted">
                            <div *ngIf="parola.errors['required']">Parola este necesara!</div>
                            <div *ngIf="parola.errors['minlength']">
                                Parola trebuie sa aiba minim 6 caractere!
                            </div>
                        </div>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="form.email" required email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
                        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                            <div *ngIf="email.errors['required']">Email-ul este necesar!</div>
                            <div *ngIf="email.errors['email']">
                                Email-ul trebuie sa contina o adresa valida!
                            </div>
                        </div>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-address-card"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nume" name="nume" [(ngModel)]="form.nume" #nume="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nume.errors }" />
                        <div class="invalid-feedback" *ngIf="nume.errors && f.submitted">
                            <div *ngIf="nume.errors['required']">Numele este necesar!</div>
                            <div *ngIf="nume.errors['nume']"></div>
                        </div>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-address-card"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Prenume" name="prenume" [(ngModel)]="form.prenume" #prenume="ngModel" [ngClass]="{ 'is-invalid': f.submitted && prenume.errors }" />
                        <div class="invalid-feedback" *ngIf="prenume.errors && f.submitted">
                            <div *ngIf="prenume.errors['required']">Prenumele este necesar!</div>
                            <div *ngIf="prenume.errors['prenume']"></div>
                        </div>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-address-card"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="CNP" name="CNP" [(ngModel)]="form.CNP" #CNP="ngModel" [ngClass]="{ 'is-invalid': f.submitted && CNP.errors }" />
                        <div class="invalid-feedback" *ngIf="CNP.errors && f.submitted">
                            <div *ngIf="CNP.errors['required']">CNP este necesar!</div>
                            <div *ngIf="CNP.errors['CNP']"></div>
                        </div>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-phone"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Numar telefon" name="nr_telefon" [(ngModel)]="form.nr_telefon" #nr_telefon="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nr_telefon.errors }" />
                        <div class="invalid-feedback" *ngIf="nr_telefon.errors && f.submitted">
                            <div *ngIf="nr_telefon.errors['required']">Numarul de telefon este necesar!</div>
                            <div *ngIf="nr_telefon.errors['nr_telefon']"></div>
                        </div>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-city"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Judet" name="judet" [(ngModel)]="form.judet" #judet="ngModel" [ngClass]="{ 'is-invalid': f.submitted && judet.errors }" />
                        <div class="invalid-feedback" *ngIf="judet.errors && f.submitted">
                            <div *ngIf="judet.errors['required']">Judetul este necesar!</div>
                            <div *ngIf="judet.errors['judet']"></div>
                        </div>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-solid fa-address-card"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Adresă" name="adresa" [(ngModel)]="form.adresa" #adresa="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adresa.errors }" />
                        <div class="invalid-feedback" *ngIf="adresa.errors && f.submitted">
                            <div *ngIf="adresa.errors['required']">Adresa este necesar!</div>
                            <div *ngIf="adresa.errors['adresa']"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn float-right register_btn">Înregistrare</button>
                    </div>
                    <div class="form-group">
                        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-danger" role="alert">
                            Înregistrarea a eșuat: {{ errorMessage }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Ai cont deja? <a href="/login">Autentificare</a>
                        </div>
                    </div>
                </div>
            </form>

            <div class="alert alert-success" *ngIf="isSuccessful">
                Înregistrarea s-a realizat cu succes!
            </div>
        </div>
    </div>
</body>

</html>
